<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=arya, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="./css/index.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: url(https://images.shiksha.com/mediadata/images/1610359750phpwockaj.png);
            background-color: rgb(255, 218, 150);
            ;
            background-size: 100%;
        }

        div.main {
            width: 400px;
            margin: 100px auto 0px auto;
        }

        h2 {
            text-align: center;
            padding: 20px;
            font-family: 'Times New Roman', Times, serif;
            color: orangered;
            font-size: 35px;
        }

        div.register {
            background-color: rgba(0, 0, 0, 0.5);
            width: 500px;
            font-size: 25px;
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 2px 2px 5px;
            color: white;
        }

        form#register {
            margin: 40px;
        }

        label {
            font-family: 'Times New Roman', Times, serif;
            font-size: 25px;
            font-style: italic;
        }

        input#Name {
            width: 400px;
            height: 30px;
            border: 1px solid;
            border-radius: 2.5px;
            padding: 5px;
            box-shadow: 0px, 1.5px, 1px, 3px;
        }

        input#submit {
            width: 200px;
            padding: 6px;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            border: none;
            border-radius: 3.5px;
            background-color: orangered;
            cursor: pointer;
            font-weight: bold;
            color: white;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="register">
            <h2>Registration Form</h2>
            <form id="register" method="post" action="/register">
                <label> First Name : </label>
                <br>
                <input type="text" name="fname" id="Name" placeholder="Enter Your First Name">
                <br><br>
                <label>Last Name : </label>
                <br>
                <input type="text" name="lname" id="Name" placeholder="Enter Your Last Name">
                <br><br>
                <label>Gender : </label>
                <br>
                Male<input type="radio" name="mygender" id="Male" value="male">
                Female<input type="radio" name="mygender" id="Female" value="female">
                Other<input type="radio" name="mygender" id="Other" value="other">
                <br><br>
                <label>Age : </label>
                <br>
                <input type="number" name="age" id="Name" placeholder="Enter Your Age">
                <br><br>
                <label>Email :</label>
                <br>
                <input type="email" name="email" id="Name" placeholder="Enter a Valid Email">
                <br><br>
                <label>Create Password : </label>
                <br>
                <input type="password" name="pass" id="Name" placeholder="Create a Password">
                <br><br>
                <label>Confirm Password</label>
                <br>
                <input type="password" name="cpass" id="Name" placeholder="Re-enter the Password">
                <br><br>
                <label> College Name : </label>
                <br>
                <input type="text" name="clg" id="Name" ,placeholder="Enter Your College Name">
                <br><br>
                <label>College Roll No. :</label>
                <br>
                <input type="number" name="roll" id="Name" ,placeholder="Enter Your Valid College Roll Number">
                <br><br>
                <label>Course : </label>
                <br>
                <input type="text" name="Course" id="Name" placeholder="Enter Your Present Course">
                <br><br>
                <label>Year : </label>
                <br>
                First<input type="radio" name="sem" id="First" value="First">
                Second<input type="radio" name="sem" id="Second" value="Second">
                Third<input type="radio" name="sem" id="Third" value="Third">
                <br><br>
                <!-- <label>Profile Pic : </label>
                <br>
                <img src='https://www.pngall.com/wp-content/uploads/12/Avatar-PNG-Image.png'
                    alt="Unable To load profile pic" class="avatar" width="100px">
                <br>
                <input type="file" name="File" id="file"> -->
                <br><br>
                <input type="submit" name="Submit" id="submit">
            </form>
        </div>
    </div>
</body>

</html>